# java-rest-api owners

/java-rest-api/ @Fabcast46 @vicarhz

# api-gateway owners

/api-gateway/ @vicarhz @rodrigo06

# frontend owners

/frontend/ @rodrigo06 @Fabcast46

# ml-library owners

/ml-library/ @Fabcast46 @vicarhz
